.Rproj.user
.Rhistory
.RData
.Ruserdata
TLR_init.docx
scopecode
**/bookmarked
R/README
R/dev
**/DOCX_processed.docx
**/TLF_list_1.xlsx
**/TLF_list_2.xlsx
**/TLF_list_1.csv
demo.R
/*.docx
demo_TLR.R
training/